.header {
  display: flex;
  width: 100%;
  height: auto;
  background-color: linen;
  justify-content: center;
  align-items: center;
}
.body {
  display: flex;
  width: 100%;
  height: auto;
  background-color: linen;
  justify-content: center;
  align-items: center;
}
.resume-cv {
  display: flex;
  width: 100%;
  height: auto;
  background-color: linen;
  justify-content: center;
  align-items: center;
}
pdf-viewer {
  display: flex;
  align-self: center;
  width: 100vw;
  height: 100vh;
}
.body #footer {
  align-self: center;
  text-align: center;
  font-size: large;
  width: 600px;
  height: auto;
  margin: 1em;
}
