<mat-card>
  <mat-card-header>
    <div class="header">
      <h3>RESUME</h3>
    </div>
  </mat-card-header>
  <mat-card-content>
    <section class="resume-header">
      <h1>Experience & Expertise — Galen Tenney</h1>
    </section>

    <section class="resume-bio">
      <p>
        I’m a designer-turned-developer with over 20 years blending design, development, and IT expertise to create digital products that prioritize clarity, maintainability, and great UX.      </p>
    </section>

    <section class="core-strengths">
      <h2>Core Strengths</h2>
      <ul>
        <li>Product strategy & UX design</li>
        <li>Component-based front-end architecture</li>
        <li>Backend services & API design</li>
        <li>Accessibility & automated testing</li>
        <li>Code audits & refactoring</li>
        <li>Human-led AI integration</li>
      </ul>
    </section>

    <section class="professional-experience">
      <h2>Professional Experience</h2>
      <div>
        <h3>Auralicode — Founder (2025–Present):</h3>
          <p>Lead Architect and Developer creating custom, scalable, maintainable, bespoke Web applications using modern frameworks and libraries.</p>
        <h3>Maryland Office of the Public Defender — Lead Programmer (2024–2025):</h3>
          <p>Full-Stack JVM-based, JSX and Groovy coded, eDefender Development and Microsoft 365 projects for MOPD’s IT Division</p>
        <h3>Cherokee Federal / US Coast Guard (2020–2024):</h3>
          <p>Front-End Development and Data Migration for the US Coast Guard’s Technology Information Management Branch IPB websites</p>
      </div>
    </section>

    <section class="education">
      <h2>Education</h2>
      <ul>
        <li>BA in Art—Graphic/Web Design / April 2006 — Virginia Intermont College — GPA: 3.2 (National Honors Society)</li>
        <li>TechLEAP Program—Graduate Certificates in Web Development & IT Studies / May 2016 — Montgomery College — GPA: 4.0</li>
      </ul>
    </section>

      <mat-card-footer>
      <div class="body">
        <p id="footer">
          Copyright © 2025 Galen W. Tenney. All rights reserved. Auralicode was developed with Angular.
        </p>
      </div>
    </mat-card-footer>
  </mat-card-content>
</mat-card>
