<h3>ABOUT</h3>
<body>
<img src="assets/Galen.png" alt="Galen">
<p>
  Galen Tenney is Auralicode, acting as president and sole developer. Throughout his career, Galen has been involved with music, graphic design, and web development. Galen has high-functioning autism which he has learned to live with and manage successfully. Galen cherishes his wife Pamela, his family and friends, and his hobbies include music, reading, TV, movies, games, fitness, cooking, gardening, politics, and spirituality. Galen would be delighted to work with you on your website project.
</p>
</body>
