<mat-card>
  <mat-card-header>
    <div class="header">
      <h3>ABOUT</h3>
    </div>
  </mat-card-header>
  <mat-card-content>
    <div class="graphic">
    <img mat-card-image id="portrait" src="assets/Galen.png" alt="Galen">
  </div>
  <div class="body">
    <p id="text">
      Galen Tenney is Auralicode, acting as president and sole developer. Throughout his career,
      Galen has been involved with music, graphic design, and web development. Galen has high-functioning autism
      which he has learned to live with and manage successfully. Galen cherishes his wife Pamela, family and friends,
      and interests like music, reading, TV, movies, games, fitness, politics, and spirituality.
      Galen would be delighted to work with you on your website project.
    </p>
  </div>
  </mat-card-content>
</mat-card>
