<mat-card>
  <mat-card-header>
    <div class="header">
      <h3>CONTACT</h3>
    </div>
  </mat-card-header>
  <mat-card-content>
    <div class="body">
      <p id="text">
        I can be reached by iPhone or email address at your convenience to promptly get back in touch with you.
        From there, we can discuss your project and plan accordingly. I value continuous contact with my clients and will
        be with you at each turn while we work together on your web page, web site, or web app. I thank you for visiting
        Auralicode, and do hope you will consider me in your web development endeavors.
      </p>
    </div>
    <div class="body">
      <p id="contactInfo">
        Galen Tenney
        <br><br>
        <a href="tel:3015805172">Call my Cell Phone</a>
      <br>
        <a href="mailto:tenney.galen@gmail.com">Send me an E-mail</a>
      </p>
    </div>
  </mat-card-content>
</mat-card>
