.header {
  display: flex;
  width: 100%;
  height: auto;
  background-color: linen;
  justify-content: center;
  align-items: center;
}
.portfolio {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: linen;
  justify-content: center;
  align-items: center;
}
img {
  width: 100%;
  height: auto;
}
p {
  align-self: center;
  text-align: center;
  font-size: large;
  width: 600px;
  height: auto;
  margin: 1em;
}
