<mat-card>
  <mat-card-header>
    <div class="header">
      <h3>PORTFOLIO</h3>
    </div>
  </mat-card-header>
  <mat-card-content>
    <div class="portfolio">
      <a href="https://www.usembassy.gov">
        <img mat-card-image src="assets/USEmbassy.png" aria-label="USEmbassy"></a>
      <p>US Department of State Embassy Site</p>
      <a href="https://www.gsa.gov">
        <img mat-card-image src="assets/GSA-Home.png" aria-label="GSA"></a>
      <p>General Services Administration</p>
      <a href="https://www.gsa.gov/blog">
        <img mat-card-image src="assets/GSA-Blog.png" aria-label="GSA Blog"></a>
      <p>General Services Administration Blog</p>
      <a href="https://data.noaa.gov/cedit/">
        <img mat-card-image src="assets/CoMET-Home.png" aria-label="CoMET"></a>
      <p>NOAA NCEI's CoMET</p>
      <a href="https://data.noaa.gov/docucomp/">
        <img mat-card-image src="assets/Docucomp-Home.png" aria-label="Docucomp"></a>
      <p>NOAA NCEI's Docucomp</p>
      <a href="https://data.noaa.gov/metaserver/">
        <img mat-card-image src="assets/Metaserver-Home.png" aria-label="Metaserver"></a>
      <p>NOAA's NCEI's Metaserver</p>
      <a href="https://data.noaa.gov/metaview/">
        <img mat-card-image src="assets/Metaview-Home.png" aria-label="Metaview"></a>
      <p>NOAA's NCEI's Metaview</p>
      <a href="https://lightoftheworldfoundation.org">
        <img mat-card-image src="assets/LOTWF-Home.png" aria-label="Light of the World Foundation"></a>
      <p>Light of the World Foundation</p>
      <a href="https://wecarebowie.org">
        <img mat-card-image src="assets/We_Care_Bowie-Home.png" aria-label="We Care Bowie"></a>
      <p>We Care Bowie</p>
      <a href="https://www.montgomerycountymd.gov/library/">
        <img mat-card-image src="assets/MCPL-Home.png" aria-label="Montgomery County Public Libraries"></a>
      <p>Montgomery County Public Libraries</p>
      <a href="https://mindfulhabithelp.com">
        <img mat-card-image src="assets/FTRW-Home.png" aria-label="Feed The Right Wolf"></a>
      <p>Feed the Right Wolf</p>
      <a href="https://claysmile.thinkific.com">
        <img mat-card-image src="assets/Claysmile-Home.png" aria-label="Claysmile"></a>
      <p>Claysmile</p>
      <a href="https://www.psychotherapynetworker.org">
        <img mat-card-image src="assets/PsychNet-Home.png" aria-label="Psycotherapy Networker"></a>
      <p>Psychotherapy Networker</p>
      <a href="https://emdrtherapy.com">
        <img mat-card-image src="assets/DeanyL-Home.png" aria-label="Deany Laliotis"></a>
      <p>Deany Laliotis EMDR Therapy</p>
      <a href="http://www.thoughtandpossibility.com">
        <img mat-card-image src="assets/T&P-Home.png" aria-label="Thought & Possibility"></a>
      <p>Thought & Possibility</p>
      <a href="http://www.pointofdeparture.org/archives/PoD-2/PoD-2_index.html">
        <img mat-card-image src="assets/PoD-Cover-2.png" aria-label="Point of Departure Issue 2"></a>
      <p>Point of Departure Issue 2</p>
      <a href="http://www.pointofdeparture.org/archives/PoD-1/PoD-1_index.html">
        <img mat-card-image src="assets/PoD-Cover-1.png" aria-label="Point of Departure Issue 1"></a>
      <p>Point of Departure Issue 1</p>
    </div>
  </mat-card-content>
</mat-card>
