.header {
  display: flex;
  width: 100%;
  height: auto;
  background-color: linen;
  justify-content: center;
  align-items: center;
}
.body {
  display: flex;
  width: 100%;
  height: auto;
  background-color: linen;
  justify-content: center;
  align-items: center;
}
.body #portfolio {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 100%;
  height: auto;
  background-color: linen;
  margin: 1em;
}
.body img {
  display: block;
  flex-direction: column;
  align-self: center;
  width: auto;
  height: 100%;
}
.body p {
  align-self: center;
  text-align: center;
  font-size: large;
  /*width: 600px;*/
  height: auto;
  margin: 1em;
}
.body #footer {
  align-self: center;
  text-align: center;
  font-size: large;
  width: 600px;
  height: auto;
  margin: 1em;
}
