.header {
  display: flex;
  width: 100%;
  height: auto;
  background-color: linen;
  justify-content: center;
  align-items: center;
}
.body {
  display: flex;
  width: 100%;
  height: auto;
  background-color: linen;
  justify-content: center;
  align-items: center;
}
.body p {
  align-self: center;
  text-align: center;
  font-size: large;
  width: 480px;
  height: auto;
  margin: 1em;
}
.body #footer {
  align-self: center;
  text-align: center;
  font-size: large;
  width: 600px;
  height: auto;
  margin: 1em;
}
#tech-list-container {
  display: flex;
  font-size: large;
}
#tech-list-container1 {
  display: flex;
  font-size: large;
}
#tech-list-container2 {
  display: flex;
  font-size: large;
}
#tech-list-container3 {
  display: flex;
  font-size: large;
}
#tech-list-container4 {
   display: flex;
  font-size: large;
}
#tech-list-container5 {
    display: flex;
  font-size: large;
}
#tech-list-container6 {
  display: flex;
  font-size: large;
}
img {
  display: block;
  max-width:180px;
  max-height:1800px;
  width: auto;
  height: auto;
}
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  padding: 0;
}
#tech-list1 {
  align-items: center;
}
#tech-list2 {
  align-items: center;
}
#angularcli-list {
  align-items: center;
  font-size: large;
}
#bootstrap-list {
  align-items: center;
  font-size: large;
}
#express-list {
  align-items: center;
  font-size: large;
}
#html5boilerplate-list {
  align-items: center;
  font-size: large;
}
#nextjs-list {
  align-items: center;
  font-size: large;
}
#nodejs-list {
  align-items: center;
  font-size: large;
}
#react-list {
  align-items: center;
  font-size: large;
}
#reactnative-list {
  align-items: center;
  font-size: large;
}
#vite-list {
  align-items: center;
  font-size: large;
}
#vuejs-list {
  align-items: center;
  font-size: large;
}
li {
  padding: 2px;
}
