<mat-card>
  <mat-card-header>
    <div class="header">
      <h3>HOME</h3>
    </div>
  </mat-card-header>
  <mat-card-content>
    <div class="graphic">
      <img mat-card-image id="logo" src="../../assets/Auralicode-Logo.png" alt="Auralicode Logo">
    </div>
    <div class="body">
      <p id="text">
        Auralicode is a web application development company that specializes in designing, building, testing,
        deploying, and continually improving and maintaining component-based single page app sites for a wide range
        of clients. I pride myself on my attenuated requirements gathering process where I listen actively to
        my clients' needs, wants, and wishes to create and sustain the most beautiful and functional of web
        applications for your growing business.
      </p>
    </div>
    <mat-card-footer>
      <div class="body">
        <p id="footer">
          Copyright © 2025 Galen W. Tenney. All rights reserved. Auralicode was developed with Angular.
        </p>
      </div>
    </mat-card-footer>
  </mat-card-content>
</mat-card>
